<div class="pensamento {{pensamento.modelo}} ff-roboto-mono" [ngClass]="larguraPensamento()">
<img src="../../../../assets/{{pensamento.modelo}}.png" alt="Aspas Coloridas">
<p class="conteudo">
  {{pensamento.conteudo}}
</p>
<p class="autoria">
  <b>{{pensamento.autoria}}</b>
</p>

<div class="acoes">
<button class="botao-editar">
  <img src="../../../../assets/icone-editar.png" alt="Icone Editar" routerLink="/pensamentos/editarPensamento/{{pensamento.id}}">
</button>
<button class="botao-excluir" routerLink="/pensamentos/excluirPensamento/{{pensamento.id}}">
  <img src="../../../../assets/icone-excluir.png" alt="Icone Excluir">
</button>
</div>
</div>
